* {
  margin: 0;
  padding: 0;
  font-family: Ramaraja;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 250px;
  height: 200px;
  border: #424142 2px solid;
}

/* ////////// NAVBAR STYLE*/
a {
  color: white;
  text-decoration: none;
  text-decoration-thickness: 2px;
}

nav {
  margin: 0;
  padding: 0;
  background-color: #424142;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  list-style: none;
  height: 70px;
}

nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 15px;
}
nav ul img {
  height: 150px;
  width: 150px;
}

/*Cart Basket Icon*/

.cart {
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  width: 100px;

  width: 50%;
}

.cartButton {
  background-color: #424142;
  border-radius: 28px;
  outline: none;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #e7e7e7;
  width: 70px;
  font-size: 30px;
  text-decoration: none;
}
.cartButton:hover {
  font-size: 33px;
}

/*Left Side Nav, ignore the naming mistake*/

.rightNav {
  display: flex;
  width: 50%;
}

.icon {
  margin-left: 5px;
}

nav ul li:hover,
.skewy1:hover,
.skewy:hover {
  color: #424142;
  font-size: 22px;
  background-color: #e7e7e7;
  border-radius: 8px;
}

/* Individual Nav component styles*/

.home {
  width: 200px;
  height: 40px;
  margin: 10px;
  transform: skewX(20deg);
}

ul .cart a li:hover {
  font-size: 32px;
  background-color: #424142;
  color: #a7a7a7;
}

.skewy {
  transform: skewX(-20deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.skewy1 {
  transform: skewX(-20deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Containers for Main Content*/

/* .maincont {
  background-image: url(./images/butterfly\ background.png);
} */

.mainContainer {
  display: flex;
  justify-content: center;
  max-width: 80vw;
  height: 1500px;
  flex-wrap: wrap;
  background-color: #41414198;

  overflow-y: scroll;
  border-radius: 8px;
}

/*Span for List in each cat Card*/
.span1 {
  font-weight: 800;
}

/*Each Cat Card*/

.container {
  border: rgb(0, 0, 0) 2px solid;
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  overflow: hidden;
  font-family: Ramaraja;
  color: #383838;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 2px 2px 5px 2px #0000009d;
}
.item1 {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 50px;
}

.container p {
  margin: 5px;
  letter-spacing: 1px;
  font-family: Ramaraja;
}

.addBtn {
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Logo FurrrSale*/

.h2 {
  height: 300px;
  width: 1750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #313131;
  background-image: url(./images/Kittenpic.png);
  object-fit: contain;
  position: relative;
  z-index: 1;
  padding-top: 10px;
}

h2 {
  margin: 5px;
  background-color: #ffffff;
  border-radius: 8px;
  font-family: "Lobster", cursive;
  font-size: 60px;
}

/*Slogan*/

.h2 p {
  font-size: 16px;
  font-family: "Lobster", cursive;
}

/*Shopping Cart Styling*/

.cartContainer {
  border: 3px solid rgb(31, 31, 31);
  width: 400px;
  height: 400px;
  order: 2;
  position: absolute;
  z-index: 10;
  float: right;
  background-color: rgb(226, 226, 226);
  right: 10px;
  border-radius: 8px;
  overflow: scroll;
}

.maincont {
  display: flex;
  justify-content: center;
}

.cartTitle {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 25px;
  color: rgb(31, 31, 31);
  font-family: "Lobster", cursive;
}

.cartTitle h4 {
  font-family: "Lobster", cursive;
  font-size: 20px;
  margin-bottom: 10px;
}

.cartBTN {
  font-size: 25px;
  color: #424142;
  padding: 0px;
  margin: 0px;
  height: 30px;
  outline: none;
  border: none;
}

.cart1 {
  /* border: 2px rgba(0, 0, 0, 0.623) solid; */
  height: 80px;
  display: flex;
  margin: 10px 5px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px 2px #0000009d;
}

.rmvBtn {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.rmvBtn button {
  border: none;
  font-size: 18px;
}

.cart1 img {
  width: 60px;
  height: 60px;
}

.imgcnt {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  border-radius: 8px;
}

.cartItems {
  width: 250px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.cartItems p {
  font-weight: 500;
}

.totalSum {
  position: realtive;
  bottom: 0px;
  font-size: 18px;
  height: 40px;
  width: 400px;
}

.button {
  font-size: 20px;
  border: none;
  background-color: rgb(129, 129, 129);
  border-radius: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.button:hover {
  font-size: 30px;
  width: 34px;
  height: 34px;
}

.itemcontainer {
  display: flex;
  flex-direction: column;
}

.itemtitle {
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}

.product {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FooterH2*/

footer {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./images/pawprintfooter.png);
  margin-top: 50px;
}

footer h2 {
  font-size: 30px;
  background-color: #64646400;
  color: white;
}

footer ul {
  text-decoration: none;
  list-style: none;
  color: white;
  display: flex;
  margin: 5px;
}

footer ul li {
  margin: 5px;
}

.footeritems {
  margin: 5px 30px;
}
